// colors 
$color-primary: #DBA39A;
$color-secondary: #F0DBDB;
$color-tertiary: #F5EBE0;
$color-bg-light:#FEFCF3;
// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;

// $color-secondary-light: #ffb900;
// $color-secondary-dark: #ff7730;

// $color-tertiary-light: #2998ff;
// $color-tertiary-dark: #5643fa;

// $color-gray-light-1: #f7f7f7;
// $color-gray-light-2: #eee;

// $color-gray-dark: #777;
$color-gray-dark: #3b3b3b;
// $color-gray-dark-2: #999;
$color-white: #fff;
$color-black: #000;

//Font-sizes
$default-font-size: 1.6rem;

// other
$shadow-primary: 0px 4px 4px rgba(0, 0, 0, 0.25);
$shadow-secondary: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);