*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    position: relative;
}
body {
    box-sizing: border-box;
    background-color: $color-bg-light;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}