.btn{
    cursor: pointer;
    padding: 1.6rem 4.6rem;
    border-radius: 8px;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: .1rem;
    box-shadow: $shadow-secondary;
    min-width: 200px;

    &:hover{
        transform: scale(.95)  translateY(2px);
    }
}
.btn-primary{
    border: none;
    background: $color-primary;
    color: $color-white;
}
.btn-secondary{
    border: 1px solid $color-primary;
    color: $color-primary;
    background: $color-bg-light;
}

.centered{
    text-align: center;
}
.copyrights{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    font-size: 1rem;
    z-index: 9;
    a{
        color: $color-primary;
        font-weight: 600;
    }
}

.mg-b-tiny{
    margin-bottom: 0.8rem;
}
.mg-b-small{
    margin-bottom: 1.6rem;
}
.mg-b-medium{
    margin-bottom: 4rem;
}
.mg-b-big{
    margin-bottom: 8rem;
}
.mg-b-huge{
    margin-bottom: 10rem;
}


.mg-t-tiny{
    margin-top: 0.8rem;
}
.mg-t-small{
    margin-top: 1.6rem;
}
.mg-t-medium{
    margin-top: 4rem;
}
.mg-t-big{
    margin-top: 8rem;
}
.mg-t-huge{
    margin-top: 10rem;
}
