.about{
    // position: relative;
    min-height: 100vh;
    background: $color-bg-light;
    &__content{
        padding: 250px 0;
        width: 90%;
        max-width: 1200px;
        margin: 50px auto;
        // background: #fff;

        &-btn-area{
            @include flex(left,center, 16px);
            flex-wrap: wrap;
        }
        p{
            font-size: 1.8rem;
            a{
                color: $color-primary;
                font-weight: 600;
            }
            &:last-of-type{
                font-weight: 500;
                // color: $color-primary;
            }
        }
    }
}