.homepage{
    @include outer-container;

    &__content{  
        @include absolute-center;
        z-index:10;
        width: 90%;
        max-width: 760px;
        &-text{
            font-size: 2rem;
        }
    }
}