.results{
    @include outer-container;
    &__container{
        padding: 3.2rem;

        &-card{
            width: 90%;
            max-width: 800px;
            background: $color-white;
            padding: 3.2rem;
            margin: 0 auto ;
            border-radius: 12px;
            box-shadow: $shadow-secondary;

            .data{
                @include flex(space-between, center,50px);
                flex-direction: row-reverse;
                .total {
                    border: 2px solid $color-primary;
                    border-radius: 50%;
                    padding: 50px;
                    text-align: center;
                    font-size: 3.2rem;
                    font-weight: 500;
                    color: $color-primary;
                    min-width: 30%;
                }
                h4{
                    font-size: 2rem;
                }
                span{
                    color: $color-primary;
                    font-weight: 700;
                    // font-size: 2rem;
                }
            
            }
            .chart{
                canvas{
                    width: 500px;
                    height: 300px;
                }
            }
        }

        &-help{
            width: 90%;
            max-width: 800px;
            background: $color-white;
            padding: 3.2rem;
            margin: 0 auto ;
            border-radius: 12px;
            box-shadow: $shadow-secondary;

            .pdf{
                color: $color-primary;
                font-weight: 500;
            }
            .tools{
                @include flex(left,center,15px);
                flex-wrap: wrap;
                // display: block;

                a{
                    background-color: $color-bg-light;
                    // background: rgb(241, 241, 241);
                    padding: 5px 15px;
                    border-radius: 8px;
                    color: $color-primary;
                    box-shadow: $shadow-secondary;
                }
            }
        }

        .requirements{

            &__inner{
                max-height: 700px;
                overflow-y: auto;

                .green{
                    color: #4BB543;
                }
                .red{
                    color: #D0342C;
                }
            }
        }
    }
}