.survey{
    @include outer-container;
    overflow-x: hidden;

    h2{
        color: $color-primary;
    }

    &__container{
        

        // background: red;
        padding: 3.2rem;

        &-inner{
            max-width: 1120px;
            background: $color-white;
            padding: 3.2rem;
            margin: 0 auto 30px;
            border-radius: 12px;
            box-shadow: $shadow-secondary;
        }
    }
}