.arrow-circle{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: $color-tertiary;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    svg{
        width: 50px;
        height: 40px;
        fill: $color-primary;
        position: absolute;
        outline: none;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}
.arrow-circle.left{
    left: -150px;
    svg{
        right: 50px;
    }
}
.arrow-circle.right{
    right: -150px;
    svg{
        left: 50px;
    }
}